<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">

<script>
    function validateForm() {
  var x = document.forms["myForm"]["elements"].value;
  if (x == "") {
    alert("Please enter a valid number!");
    return false;
  }
}
</script>

</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">Test App</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/">Compute Fibonacci sequence</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="color: rgba(0,0,0,0.85);background: url(&quot;static/img/maths.jpg&quot;);">
            <div class="text">
                <h2>Fibonacci Sequence</h2>
                <p><br>The Fibonacci sequence is&nbsp;<strong>a set of numbers that starts with a one or a
                    zero, followed by a one</strong>, and proceeds based on the rule that each number
                    (called a Fibonacci number) is equal to the sum of the preceding two numbers.<br></p>

                <form  name="myForm"
                       id="upload-form"
                       action="{{ url_for('call_api') }}"
                       onsubmit="return validateForm()"
                       method="POST"
                       required>

                    <h2 class="visually-hidden">Login Form</h2>
                    <div class="mb-3"><input class="form-control"
                                             type="number" min=1 max=100
                                             placeholder="Elements e.g. 10"
                                                name="elements"></div>
                    <div class="mb-3"></div>
                    <div class="mb-3">



                    	<button class="btn btn-primary d-block w-100" type="submit" 
                    	value="Upload" 
                    	id="upload-button"


                    	style="background: rgb(95,167,62);padding: 9px 12px;margin: 0px;margin-right: -33px;">Compute Fibonacci sequence</button></div>
                </form>
                <p><br>Fibonacci sequence : {{ fibonacci_values }}<br></p>
                <p><br>Sorted sequence : {{ sorted_values }}<br></p>
                <p><br>Element length : {{ element_length }}<br></p>
            </div>
        </section>
    </main>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>